<li>
<%= form_for task do |form| %>
  <%= form.check_box :completed, class: "completed_checkbox" %>
  <% end %>

<p><%= task.title %></p>
<p>&mdash;<%= task.body %></p>

<div id="kill">
  <%= link_to "Delete task", "#", class: "delete" %>
  <span class="options">
    <%= link_to "just kidding", "#", class: "jk" %>
    <%= link_to "DELETE", task, class: "destroy", method: :delete %>
  </span>
</div>

</li>
